@model TeachersDetailsViewModel
@{
    ViewData["Title"] = "Details";
}

<h1>@Model.Name</h1>

<ul class="list-inline">
    @foreach(string course in Model.Courses)
    {
        <li class="list-inline-item">@course</li>
    }
</ul>

