@model TeachersIndexViewModel
@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<ul class="list-group">
    @foreach(var teacher in Model.Teachers)
    {
        <li class="list-group-item">@teacher</li>
    }
</ul>

