@model StudentsIndexViewModel
@{

}

<h2>Students</h2>

<ul class="list-group-flush"> 
    @foreach(string student in Model.Students)
    {
        <li class="list-group-item">@student</li>
    }
</ul>

